$text-color-hover: #FFF
$text-username-color: #FFF
$self-message-body-color: #3B33BD
$self-message-body-text-color: #FFF

.chat-wrapper
    display: flex
    min-height: 100vh
    max-height: 100%

    .menu
        display: flex
        flex-direction: column
        min-height: 100%
        max-height: 100%

        ul
            list-style-type: none
            padding: 10px
            margin: 0
            display: flex
            flex-direction: column

            > a
                padding: 10px 20px
                border-radius: 6px
                transition: background-color 0.1s ease
                text-align: center
                text-decoration: none
                margin-bottom: 10px

                li
                    svg
                        display: block
                        margin: 0 auto 5px
                        font-size: 1.5em

                &:hover
                    background-color: rgba(255, 255, 255, 0.1)
                    color: $text-color-hover
    
    .chat-container
        background-color: #151515
        width: 100%
        min-height: 100vh
        max-height: 100vh
        padding: 20px
        display: flex
        flex-direction: row

        .right-side-message-container
            border-left: 1px solid rgba(255, 255, 255, 0.1)
            margin-left: 20px
            width: 75%
            padding-left: 20px
            display: flex
            flex-direction: column

            .bottom-message-input-container
                width: 100%
                margin-top: auto

                .message-form
                    width: 100%
                    display: flex
                    gap: 10px

                    input
                        width: 90%
                    
                    button
                        width: 10%
            
            .messages-list
                display: flex
                flex-direction: column
                gap: 10px
                overflow-y: auto
                max-height: 100%
                margin-bottom: 20px
                scrollbar-color: #2B2B2B transparent
                scrollbar-width: thin
                padding: 0 10px

                .message-container
                    display: flex
                    flex-direction: row
                    gap: 10px
                    max-width: 50%
                    width: fit-content

                    &.self
                        margin-left: auto

                        .message-body
                            background-color: $self-message-body-color
                            color: $self-message-body-text-color

                    .message-avatar
                        img
                            height: 45px
                            width: 45px
                            border-radius: 6px
                    
                    .message-body
                        background-color: rgba(255, 255, 255, 0.1)
                        padding: 10px
                        border-radius: 6px

                        .message-header
                            display: flex
                            flex-direction: row
                            gap: 10px
                            align-items: center
                            margin-bottom: 10px

                            .message-user
                                font-weight: bold
                                color: #FFF

        .left-side-bar
            width: 25%

            .mini-profile-container
                padding: 10px
                background-color: rgba(255, 255, 255, 0.05)
                margin-bottom: 20px
                border-radius: 6px

                .mini-profile
                    display: flex
                    align-items: center
                    gap: 20px

                    .username
                        font-weight: bold
                        color: #FFF

                    .avatar
                        img
                            border-radius: 6px
                            height: 40px
                            width: 40px

            .conversation-list
                border-top: 1px solid rgba(255, 255, 255, 0.1)
                padding-top: 20px

                ul
                    list-style-type: none
                    margin: 0
                    padding: 0
                    display: flex
                    gap: 10px
                    flex-direction: column
                    min-height: 100%

                    li
                        padding: 10px
                        border-radius: 6px
                        display: flex
                        gap: 20px
                        align-items: center
                        cursor: pointer

                        .details
                            .username
                                font-weight: bold
                                color: $text-username-color

                        .timestamp
                            padding: 0 10px

                        .avatar
                            display: flex

                            img
                                height: 60px
                                width: 60px
                                border-radius: 6px

                        &:hover
                            background-color: rgba(255, 255, 255, 0.1)
                            color: $text-color-hover