$text-color-hover: #FFF
$text-username-color: #FFF
$self-message-body-color: #3B33BD
$self-message-body-text-color: #FFF

.chat-wrapper
    display: flex
    min-height: 100vh
    max-height: 100vh
    overflow: hidden

    .menu
        display: flex
        flex-direction: column
        min-height: 100%
        max-height: 100%
        background-color: #101010

        ul
            list-style-type: none
            padding: 10px
            margin: 0
            display: flex
            flex-direction: column
            height: 100%

            > a
                padding: 10px 20px
                border-radius: 6px
                transition: background-color 0.1s ease
                text-align: center
                text-decoration: none
                margin-bottom: 10px
                opacity: 0.75
                transition: opacity 0.1s ease-in-out

                &.logout
                    margin-top: auto

                li
                    svg
                        display: block
                        margin: 0 auto 5px
                        font-size: 1.5em

                &:hover
                    opacity: 1
                    color: $text-color-hover
    
    .chat-container
        background-color: #151515
        width: 100%
        min-height: 100vh
        max-height: 100vh
        display: flex
        flex-direction: row

        .right-side-message-container
            border-left: 1px solid rgba(255, 255, 255, 0.05)
            width: 75%
            padding: 20px
            display: flex
            flex-direction: column

            .no-chats
                align-self: center
                height: 100%
                font-size: 10em
                opacity: 0.1

            .bottom-message-input-container
                width: 100%

                .message-form
                    width: 100%
                    display: flex
                    gap: 10px

                    input
                        width: 90%
                    
                    button
                        width: 10%
                        font-size: 1.5em
                        display: flex
                        justify-content: center

                        svg
                            align-self: center
            
            .messages-list
                display: flex
                flex-direction: column
                gap: 10px
                overflow-y: auto
                max-height: 100%
                margin-bottom: 20px
                scrollbar-color: #2B2B2B transparent
                scrollbar-width: thin
                padding: 0 10px
                margin-top: auto

                .message-container
                    display: flex
                    flex-direction: row
                    gap: 10px
                    max-width: 50%
                    width: fit-content

                    &.self
                        margin-left: auto

                        .message-body
                            background-color: $self-message-body-color
                            color: $self-message-body-text-color

                    .message-avatar
                        img
                            height: 45px
                            width: 45px
                            border-radius: 50%

                            &.simplified
                                opacity: 0
                    
                    .message-body
                        background-color: rgba(255, 255, 255, 0.1)
                        padding: 10px
                        border-radius: 6px
                        align-content: center

                        &:hover
                            .message-header.simplified
                                display: block

                        .message-header
                            display: flex
                            flex-direction: row
                            gap: 10px
                            align-items: center
                            margin-bottom: 10px

                            &.simplified
                                display: none

                            .message-user
                                font-weight: bold
                                color: #FFF

        .left-side-bar
            width: 25%
            height: 100%
            border-left: 1px solid rgba(255, 255, 255, 0.05)
            padding: 20px
            background-color: #101010

            .mini-profile-container
                margin-bottom: 20px
                border-radius: 6px

                .mini-profile
                    display: flex
                    align-items: center
                    gap: 20px

                    .username
                        .name
                            font-weight: bold
                            color: #FFF

                    .avatar
                        img
                            border-radius: 50%
                            height: 40px
                            width: 40px

            .conversation-list
                max-height: 77%
                overflow-y: auto
                scrollbar-color: #2B2B2B transparent
                scrollbar-width: thin

                ul
                    list-style-type: none
                    margin: 0
                    padding: 0
                    display: flex
                    gap: 10px
                    flex-direction: column

                    li
                        padding: 10px
                        border-radius: 6px
                        display: flex
                        gap: 20px
                        align-items: center
                        cursor: pointer
                        opacity: 0.75
                        transition: opacity 0.1s ease-in-out

                        .details
                            flex: 6

                            .username
                                font-weight: bold
                                color: $text-username-color

                            .latest-message
                                .empty-conversation-notice
                                    opacity: 0.5

                        .timestamp
                            padding: 0 10px
                            margin-left: auto
                            flex: 1
                            text-align: center

                        .avatar
                            display: flex
                            flex: 1

                            img
                                height: 40px
                                width: 40px
                                border-radius: 50%

                        &:hover, &.active
                            color: $text-color-hover
                            opacity: 1