$self-message-body-color: #3B33BD
$self-message-body-text-color: #FFF
$message-body-color: #252525

.message-container
    display: flex
    flex-direction: row-reverse
    gap: 10px
    max-width: 75%
    width: fit-content

    &.simplified
        .message-avatar > img, .avatar-preview > img
            opacity: 0
        
        .message-body
            border-radius: 12px

            &::after
                display: none

    &.self
        margin-left: auto

        .message-body
            background-color: $self-message-body-color
            color: $self-message-body-text-color

            &::after
                border-left-color: $self-message-body-color

            .message-header
                display: none
    
    &:not(&.self)
        .message-body .message-footer .message-actions
            display: none

    .message-avatar, .avatar-preview
        img
            height: 45px
            width: 45px
            margin-top: auto
    
    .message-body
        background-color: $message-body-color
        padding: 10px
        border-radius: 12px 12px 0 12px
        align-content: center
        flex: 1
        position: relative
        margin-right: 10px

        &::after
            content: ""
            width: 0 
            height: 0
            border-top: 20px solid transparent
            border-left: 10px solid $message-body-color
            position: absolute
            right: -9px
            bottom: 0

        .message-header
            display: flex
            flex-direction: row
            gap: 10px
            align-items: center
            margin-bottom: 10px

            .message-user
                font-weight: bold
                color: #FFF
        
        .message-footer
            display: flex
            font-size: 0.8em
            margin-top: 10px
            gap: 20px
            justify-content: space-between

            .message-actions
                display: flex

                .message-delete
                    color: #ff9090
                    cursor: pointer
                    transiton: color 0.1s ease-in-out

                    &:hover
                        color: #ff6767